aiocache==0.12.3
alibabacloud_eds_aic20230930==4.4.0
alibabacloud_tea_console==0.0.1
alibabacloud_tea_openapi==0.3.13
alibabacloud_tea_util==0.3.13
Appium_Python_Client==4.5.1
Appium_Python_Client==5.0.0
nn==0.1.1
numpy==2.2.4
openai==1.72.0
opencv_python==4.10.0.84
Pillow==11.1.0
python-dotenv==1.1.0
quart==0.20.0
Requests==2.32.3
requests_toolbelt==1.0.0
selenium==4.31.0
setuptools==75.1.0
ultralytics==8.1.34
websocket_client==1.8.0
websocket_server==0.6.4
websockets==11.0.3
